{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    {% comment %} <link rel="stylesheet" href="C:\Users\vladi\OneDrive\Рабочий стол\RIP\lab1\styles\style.css"/> {% endcomment %}
    <link rel="icon" type="image/png" sizes="32x32" href="http://127.0.0.1:9001/api/v1/buckets/test/objects/download?preview=true&prefix=icon1.png&version_id=null"/>
</head>
<body>

    {% if title == 'main' %}
        <link rel="stylesheet" type="text/css" href="{% static 'main/main.css' %}">
    {% elif title == 'info' %}
        <link rel="stylesheet" type="text/css" href="{% static 'main/info.css' %}">
    {% elif title == 'bucket' %}
        <link rel="stylesheet" type="text/css" href="{% static 'main/bucket.css' %}">
    {% endif %}

    <div class="header">

        <div class="img1">
            <img id="img1" src="http://127.0.0.1:9001/api/v1/buckets/test/objects/download?preview=true&prefix=djet.jpg&version_id=null"/>
        </div>

        <div class="navi">
            <a href="{% url 'main' %}">
                <img id="icon" src="http://127.0.0.1:9001/api/v1/buckets/test/objects/download?preview=true&prefix=icon1.png&version_id=null">
            </a>
            <p id="headText">Мировые запчасти</p>
        </div>

    </div>

    {% block content %}{% endblock %}

</body>
</html>