{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    {% comment %} <link rel="stylesheet" href="C:\Users\vladi\OneDrive\Рабочий стол\RIP\lab1\styles\style.css"/> {% endcomment %}
    <link rel="icon" type="image/png" sizes="32x32" href="http://127.0.0.1:9001/api/v1/download-shared-object/aHR0cDovLzEyNy4wLjAuMTo5MDAwL3Rlc3QvaWNvbjEucG5nP1gtQW16LUFsZ29yaXRobT1BV1M0LUhNQUMtU0hBMjU2JlgtQW16LUNyZWRlbnRpYWw9RzRSTURHV0xaRDFWTE9VRTJMTDklMkYyMDI0MDkxMyUyRnVzLWVhc3QtMSUyRnMzJTJGYXdzNF9yZXF1ZXN0JlgtQW16LURhdGU9MjAyNDA5MTNUMTc1NTE1WiZYLUFtei1FeHBpcmVzPTQzMjAwJlgtQW16LVNlY3VyaXR5LVRva2VuPWV5SmhiR2NpT2lKSVV6VXhNaUlzSW5SNWNDSTZJa3BYVkNKOS5leUpoWTJObGMzTkxaWGtpT2lKSE5GSk5SRWRYVEZwRU1WWk1UMVZGTWt4TU9TSXNJbVY0Y0NJNk1UY3lOakk1TURjMk9Td2ljR0Z5Wlc1MElqb2lZV1J0YVc0aWZRLkRuUDRQRlN5RGJQT2h0RFBtV2lkWV9lWVZ1WUhkaVhnZzhrY2FOWU4tTzFJeGFJTE5oYkpza1VGWUlkeEtMT0V2LWxwOTFWSWd0eTlRMGQ4RnFuWHNBJlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCZ2ZXJzaW9uSWQ9bnVsbCZYLUFtei1TaWduYXR1cmU9MWUxOGZhNDMxOTI4YTU5MmZlYTQwYmQ4N2I2NDgxNDhhOTk3OThjYmNmNTAwNWM4N2NmZjQyYzE4YjAzZjAzNw"/>
</head>
<body>

    {% if title == 'main' %}
        <link rel="stylesheet" type="text/css" href="{% static 'main/main.css' %}">
    {% elif title == 'info' %}
        <link rel="stylesheet" type="text/css" href="{% static 'main/info.css' %}">
    {% elif title == 'bucket' %}
        <link rel="stylesheet" type="text/css" href="{% static 'main/bucket.css' %}">
    {% endif %}

    <div class="img1">
        <img id="img1" src="http://127.0.0.1:9001/api/v1/download-shared-object/aHR0cDovLzEyNy4wLjAuMTo5MDAwL3Rlc3QvZGpldC5qcGc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1HNFJNREdXTFpEMVZMT1VFMkxMOSUyRjIwMjQwOTEzJTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI0MDkxM1QyMDI2MjRaJlgtQW16LUV4cGlyZXM9NDMxOTkmWC1BbXotU2VjdXJpdHktVG9rZW49ZXlKaGJHY2lPaUpJVXpVeE1pSXNJblI1Y0NJNklrcFhWQ0o5LmV5SmhZMk5sYzNOTFpYa2lPaUpITkZKTlJFZFhURnBFTVZaTVQxVkZNa3hNT1NJc0ltVjRjQ0k2TVRjeU5qSTVNRGMyT1N3aWNHRnlaVzUwSWpvaVlXUnRhVzRpZlEuRG5QNFBGU3lEYlBPaHREUG1XaWRZX2VZVnVZSGRpWGdnOGtjYU5ZTi1PMUl4YUlMTmhiSnNrVUZZSWR4S0xPRXYtbHA5MVZJZ3R5OVEwZDhGcW5Yc0EmWC1BbXotU2lnbmVkSGVhZGVycz1ob3N0JnZlcnNpb25JZD1udWxsJlgtQW16LVNpZ25hdHVyZT1mMDk1MmNmNjI3NTNkOGNmMDJhZmY1ODdjOWJjYjdlMDJiZjM3ZTM0NDU0NDA2Y2U4NGM4ZjU5Nzk3YTMyMTk1"/>
    </div>

    <div class="navi">
        <a href="{% url 'main' %}">
            <img id="icon" src="http://127.0.0.1:9001/api/v1/download-shared-object/aHR0cDovLzEyNy4wLjAuMTo5MDAwL3Rlc3QvaWNvbjEucG5nP1gtQW16LUFsZ29yaXRobT1BV1M0LUhNQUMtU0hBMjU2JlgtQW16LUNyZWRlbnRpYWw9RzRSTURHV0xaRDFWTE9VRTJMTDklMkYyMDI0MDkxMyUyRnVzLWVhc3QtMSUyRnMzJTJGYXdzNF9yZXF1ZXN0JlgtQW16LURhdGU9MjAyNDA5MTNUMjAyNjUwWiZYLUFtei1FeHBpcmVzPTQzMjAwJlgtQW16LVNlY3VyaXR5LVRva2VuPWV5SmhiR2NpT2lKSVV6VXhNaUlzSW5SNWNDSTZJa3BYVkNKOS5leUpoWTJObGMzTkxaWGtpT2lKSE5GSk5SRWRYVEZwRU1WWk1UMVZGTWt4TU9TSXNJbVY0Y0NJNk1UY3lOakk1TURjMk9Td2ljR0Z5Wlc1MElqb2lZV1J0YVc0aWZRLkRuUDRQRlN5RGJQT2h0RFBtV2lkWV9lWVZ1WUhkaVhnZzhrY2FOWU4tTzFJeGFJTE5oYkpza1VGWUlkeEtMT0V2LWxwOTFWSWd0eTlRMGQ4RnFuWHNBJlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCZ2ZXJzaW9uSWQ9bnVsbCZYLUFtei1TaWduYXR1cmU9NjlmNzE2ODFkZDUyODY5YWMyNGVkMjliZDc5NDg3NjViY2UyZTgzOWU3ZjE4YTdjODVmOGQzNjczN2MzNzU5YQ">
        </a>
        <p id="headText">Мировые запчасти</p>
    </div>

    {% block content %}{% endblock %}

</body>
</html>