{% extends "base.html" %}

{% block title %}Мировые запчасти{% endblock %}

{% block content %}

    <div class="ordernum">
        <p class="num">Заявка №115</p>
    </div>

    <div class="date">
        <p class="orderdate">Заказ на: 10.09.2024</p>
        <p class="orderplace">Адрес доставки: МГТУ</p>
    </div>

    {% comment %} <div class="place">

    </div> {% endcomment %}

    <div class="bucketall">

        {% for var in orders %}

        <div class="one">

            {% autoescape off %}
                {{ var.img }}
            {% endautoescape %}

            <p class="name">{{ var.name }}</p>
            <p class="price">{{ var.price }}</p>
        </div>

        {% endfor %}


    </div>

    <div class="texttest">
    
    </div> 

{% endblock %}