{% extends "base.html" %}

{% block title %}Мировые запчасти{% endblock %}

{% block content %}


    <div class="allinfo">

        <div class="nameProduct">
            <p class="namepr">{{ orders.name }}</p>
        </div>
        
        <div class="pic">
            <img class="picG" src="{{ orders.img }}">
        </div>

        <div class="pr">
            <p class="price">{{ orders.price }}</p>
        </div>

        <div class="descr">
            <p class="des">{{ orders.desc }}</p>
        </div>
            
        </div>


    </div>  

        <div class="texttest">
    
    </div> 

{% endblock %}