{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>info1</title> 
        {% comment %} <link rel="stylesheet" href="C:\Users\vladi\OneDrive\Рабочий стол\RIP\lab1\styles\styleInfo.css"/> {% endcomment %}
        <link rel="icon" type="image/png" sizes="32x32" href="C:\Users\vladi\OneDrive\Рабочий стол\RIP\lab1\images\icon1.png"/>
    </head>
    <body>
        
        <link rel="stylesheet" type="text/css" href="{% static 'main/styleInfo.css' %}">

        <div class="img1">
            <img id="img1" src="C:\Users\vladi\OneDrive\Рабочий стол\RIP\lab1\images\djet.jpg"/>
        </div>

        <div class="navi">
            <a href="https://www.google.com/">
                <img id="icon" src="C:\Users\vladi\OneDrive\Рабочий стол\RIP\lab1\images\icon1.png">
            </a>
            <p id="headText">Мировые запчасти</p>
        </div>

        <div class="allinfo">

            <div class="nameProduct">
                <p class="namepr">Двигатель бензиновый DLE30</p>
            </div>
            
            <div class="pic">
                <img class="picG" src="C:\Users\vladi\OneDrive\Рабочий стол\RIP\lab1\images\1.jpg">
            </div>

            <div class="pr">
                <p class="price">42000 ₽</p>
            </div>

            <div class="descr">
                <p class="des">Бензиновый двигатель от известного производителя моторов DLE, рекомендованный для использования на небольших самолётах.</p>
            </div>
                
            </div>


        </div>  

        <div class="texttest">
           
        </div> 
        


    </body>
</html>