{% extends "base.html" %}

{% block title %}Мировые запчасти{% endblock %}

{% block content %}

    <div class="search">

        {% comment %} <form class="form_search" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input class="input_search" type="text" name="text" placeholder="Поиск по названию">
            <input type="submit" value="Submit" >
        </form> {% endcomment %}

        <form action="" class="form_search_spares"  method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input name="text" placeholder="Поиск по названию" type="text" class="input_search" value={{ value }}><br><br>
        </form>
        
        <a href="{% url 'bucket' %}" class="buck">
            <div class="btn_buck">
                <p class="namebuck">Корзина:{{ buck }}</p>
                <img class="imgBucket" src="http://127.0.0.1:9000/mysite2/shopping-basket_8216703.png">
            </div>
        </a>
    </div>


    <div class="space">

        <div class="container">

            {% for var in orders %}

            <div class="itemOfPr">
                <div class="itemPic">
                    <a href="{% url 'info' var.id %}">
                        <img class="img_goods" src="{{ var.img }}">
                    </a>
                </div>
                <div class="itemName">
                    <a class="itemDes" href="{% url 'info' var.id %}">
                        {{ var.name }}
                    </a>
                </div>
                <div class="itemPrice">
                    <p class="price">{{ var.price }}</p>
                </div>

            </div>

            {% empty %}

            <p>Список пуст</p>

            {% endfor %}

        </div>
    </div>

    <div class="texttest">
        
    </div> 

{% endblock%}