{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мировые запчасти</title>
    {% comment %} <link rel="stylesheet" href="C:\Users\vladi\OneDrive\Рабочий стол\RIP\lab1\styles\style.css"/> {% endcomment %}
    <link rel="icon" type="image/png" sizes="32x32" href="C:\Users\vladi\OneDrive\Рабочий стол\RIP\lab1\images\icon1.png"/>
</head>
<body>

    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
    
    <div class="img1">
        <img id="img1" src="C:\Users\vladi\OneDrive\Рабочий стол\RIP\lab1\images\djet.jpg"/>
    </div>

    <div class="navi">
        <a href="https://www.google.com/">
            <img id="icon" src="C:\Users\vladi\OneDrive\Рабочий стол\RIP\lab1\images\icon1.png">
        </a>
        <p id="headText">Мировые запчасти</p>
    </div>

    <div class="search">
        <input class="input_search" type="text" name="text" placeholder="Поиск по цене">
        <a href="https://www.google.com/">
            <img class="imgBucket" src="C:\Users\vladi\OneDrive\Рабочий стол\RIP\lab1\images\bucketicon.png">
        </a>
    </div>


    <div class="space">

        <div class="container">

            <div class="itemOfPr">
                <div class="itemPic">
                    <a href="https://www.google.com/">
                        <img class="img_goods" src="C:\Users\vladi\OneDrive\Рабочий стол\RIP\lab1\images\1.jpg">
                    </a>
                </div>
                <div class="itemName">
                    <a class="itemDes" href="https://www.google.com/">
                        Двигатель бензиновый DLE30
                    </a>
                </div>
                <div class="itemPrice">
                    <p class="price">42000 ₽</p>
                </div>
            </div>

            <div class="itemOfPr">
                <div class="itemPic">
                    <a href="https://www.google.com/">
                        <img class="img_goods" src="C:\Users\vladi\OneDrive\Рабочий стол\RIP\lab1\images\2.jpg">
                    </a>
                </div>
                <div class="itemName">
                    <a class="itemDes" href="https://www.google.com/">
                        Сервопривод EMAX ES08MDII
                    </a>
                </div>
                <div class="itemPrice">
                    <p class="price">1620 ₽</p>
                </div>
            </div>

            <div class="itemOfPr">
                <div class="itemPic">
                    <a href="https://www.google.com/">
                        <img class="img_goods" src="C:\Users\vladi\OneDrive\Рабочий стол\RIP\lab1\images\3.jpg">
                    </a>
                </div>
                <div class="itemName">
                    <a class="itemDes" href="https://www.google.com/">
                        Двигатель T-Motor AT4120
                    </a>
                </div>
                <div class="itemPrice">
                    <p class="price">11980 ₽</p>
                </div>
            </div>

            <div class="itemOfPr">
                <div class="itemPic">
                    <a href="https://www.google.com/">
                        <img class="img_goods" src="C:\Users\vladi\OneDrive\Рабочий стол\RIP\lab1\images\4.jpg">
                    </a>
                </div>
                <div class="itemName">
                    <a class="itemDes" href="https://www.google.com/">
                        Адаптер для пропеллера
                    </a>
                </div>
                <div class="itemPrice">
                    <p class="price">42770 ₽</p>
                </div>
            </div>

            <div class="itemOfPr">
                <div class="itemPic">
                    <a href="https://www.google.com/">
                        <img class="img_goods" src="C:\Users\vladi\OneDrive\Рабочий стол\RIP\lab1\images\5.jpg">
                    </a>
                </div>
                <div class="itemName">
                    <a class="itemDes" href="https://www.google.com/">
                        Двигатель бензиновый DLE60
                    </a>
                </div>
                <div class="itemPrice">
                    <p class="price">152380 ₽</p>
                </div>
            </div>

            <div class="itemOfPr">
                <div class="itemPic">
                    <a href="https://www.google.com/">
                        <img class="img_goods" src="C:\Users\vladi\OneDrive\Рабочий стол\RIP\lab1\images\6.jpg">
                    </a>
                </div>
                <div class="itemName">
                    <a class="itemDes" href="https://www.google.com/">
                        Модуль для программ регуляторов
                    </a>
                </div>
                <div class="itemPrice">
                    <p class="price">4540 ₽</p>
                </div>
            </div>

        </div>
    </div>
    
    <div class="texttest">
           
    </div> 


</body>
</html>